.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F4F4F4;
   color: black;
   text-align: center;
}
.bottom-line {
    background: #1F6473;
    width: 100%;
    height: 20px;
    margin-top: 3%;

}
.footer-top {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.social-media {
    display: flex;
    flex-direction: column;
    
    
}
.icon {
    display: flex;
    flex-direction: row;
 justify-content: space-around;
 align-items: flex-start;
padding: 0px;

}
.fa {
    
  height: 22px;
   width: 22px;
    text-align: center;
    text-decoration: none;
    background-color: #178299;
    color: white;
    border-radius: 100%;
   
    
}
.text-box-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.text-1 {
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: justify;

/* Black */

color: #262626;

opacity: 0.8;
}
.text-2 {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: justify;

/* Brand Light Blue */

color: #1F6473;

opacity: 0.8;
}
.text-3 {
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-decoration-line: underline;

/* Brand Light Blue */

color: #1F6473;
}
.text-4 {
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: justify;

/* Black 2 */

color: #474747;
}
.text-5 {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: justify;
text-decoration-line: underline;

/* Brand Light Blue */

color: #1F6473;

opacity: 0.8;
}
.text-6 {
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: right;

/* Black */

color: #262626;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
